*/


body{
    background-color: white;

	

}
.logo img{
	height: 60px;
	width: 130px;
	padding: 10px 10px 10px 10px;
    border-radius: 80px;
		
}

h1{
		text-align: center;
		color:midnightblue;
            
		font-famil sans-serif;
   }
nav{
	
	width: 100%;
   
}
nav li{
	list-style: none;
	padding: 15px 5px;
	display: inline-flex;
}
nav a{
	color: #fff;
	text-decoration: none;
	padding: 15px;
    font-style: all;
    text-decoration: none;
    


}
nav ul{
	text-align: center;
}
a:hover{
background-color: #fff;	
color: midnightblue;
text-decoration: none;    
}

 .radio img{
    border-radius:10px;
    
}



article img{
	padding:10px 10px 10px 10px;
}

h2{
	text-align: center;
	color: #fff;
	font-family:sans-serif;
}

h3{
	text-align:center;
	color: white;
	font-family: sans-serif;
}


}


spam{
    color: white;
    margin: 30px;
}

footer {
    background-color: black;
    padding: 40px 40px 40px 40px;
}





